html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.url-navigation {
    text-decoration: none;
    color: grey;
    padding: 10px 15px;
    border-bottom: 1px solid grey;
}

.url-navigation.first {
    border-right: 1px solid grey;
}

.url-navigation.url-active {
    border-bottom: 0;
    color: #000;
}

.form-floating {
    margin: 10px 0;
}

.details-wrap {
    max-width: 700px;
}